body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Cantarell', sans-serif;
  font-size: 17px;
  color: #424242;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 43px;
  margin: 0;
  }

h2 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  }

h3 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*HEADER STYLES-------------------START*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-name{
  display: inline-block;
  text-align: right;
  color: #8e6d93;
  margin:20px 20px 20px 0;
  vertical-align: middle;
}

.subtitle {
  color: #6d7993;
}

.header-logo {
  margin: 20px 0 20px 1vw;
  height: 100%;
}

/*HEADER STYLES---------------------END*/

/*MAIN BODY STYLES----------------BEGIN*/

.main {
  min-height: 100%;
  margin-bottom:-200px;
}

/* I used this little trick to keep my footer always at the bottom of the page. */
/* CREDIT: https://css-tricks.com/snippets/css/sticky-footer/ */
.main:after{
  content: "";
  display: block;
  height: 200px;
}

.hero {
  border-top: 3px solid #6d7993;
  margin: 0 auto;
  text-align: center;
}

.hero-picture,
.hero-image {
  max-width: 100%;
}

.items-container {
  max-width: 100%;
  text-align: center;
  margin: 20px auto;
}

.item-image {
  max-width: 100%;
}

.item-title {
  display: block;
  text-align: center;
  color: #8e6d93
}

.item-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #9099a2;
  margin-bottom: 20px;
}

/*MAIN BODY STYLES------------------END*/

/*FOOTER STYLES-------------------BEGIN*/

.footer {
  width: 100%;
  text-align: center;
  padding:40px;
  background-color: #6d7993;
  color: #ffffff;
  height: 200px;
}

.footer-text {
  font-size: 12px;
  line-height: 20px;
  vertical-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fa-heart:hover {
  font-size: 20px;
  vertical-align: bottom;
  transition: all .5s;
}

.social {
  margin-top: 30px;
}

.social-link {
  font-size: 40px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

/*FOOTER STYLES---------------------END*/






@media screen and (max-width: 350px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-logo {
    margin: 10px 0 0;
  }

  .header-name {
    margin: 7px 0 10px;
  }

  h1,
  h3 {
    text-align: center;
  }
}

@media screen and (min-width: 450px) {
  .items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
  }

  .item {
    flex-basis: 47.9%;
    margin: 0 1vw;
    color: #6d7993;
  }

  .item-image {
    width: 100%;
  }
}


@media screen and (min-width:750px) {
  .item {
    flex-basis: 31.2%;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
    margin: 0 auto;
  }

  .header-logo {
    margin: 20px 0 20px 12.5px;
    height: 100%;
  }

  .items-container {
    width: 1200px;
    margin: 20px auto;
  }

  .item {
    margin: 0 12.5px;
  }

  .item:first-of-type,
  .item:nth-of-type(4n) {
    margin-left: 0;
  }

  .item:nth-of-type(3n) {
    margin-right: 0;
  }

}